<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'accounts:profile' %}">Профиль</a>
    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Выход</a>
{% else %}
    <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Вход</a>
    <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Регистрация</a>
{% endif %}
{% if crypto_list %}
    <ol>
    {% for c in crypto_list %}
        <li><a href="{%url 'crypto:crypto_detail' c.currency_id %}">{{c.CurrencyFullName}} {{c.CostInUsd}}$</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>

